<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.21/lodash.min.js"></script>

    <title>Vue.js : Les watchers</title>
  </head>
  <body>
    <div id="app">
      <div>
        <h2>Votre avis</h2>
        <input type="text" placeholder="votre avis" v-model="opinion" />
        {{ message }}
      </div>

      <div>
        <h2>Connaître le nombre de followers d'un compte Github</h2>
        <input type="text" v-model="githubUser" />
        {{ githubUserFollowers }}
      </div>
    </div>

    <script>
      const app = new Vue({
        el: "#app",
        data: {
          opinion: "",
          message: "",
          githubUser: "",
          githubUserFollowers: "",
        },
        computed: {},
        watch: {
          opinion: function (newValue) {
            if (newValue === "abruti") {
              this.message = "Restez poli !";
            } else {
              this.message = "";
            }
          },
          githubUser: _.debounce(function (username) {
            axios
              .get("https://api.github.com/users/" + username)
              .then((response) => {
                this.githubUserFollowers = response.data.followers;
              });
          }, 700),
        },
        methods: {},
      });
    </script>
  </body>
</html>
